* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    margin-left: 20px;
    margin-top: 20px;
}

.menu ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #a6a6a6;
}

.menu {
    border: 2px solid #e5e5e5;
    width: 250px;

}

.menu li {
    display: block;


}

.menu ul li a {
    display: block;
    font-size: 22px;
    height: 100%;
    width: 100%;
    padding: 12px 15px 0px 15px;
}

.menu li:hover>a {
    background-color: #45bc9d;
    color: white;

}

.menu li:hover>a::before {
    content: "> ";
}